[submodule "moodle/theme/academi"]
	path = moodle/theme/academi
	url = https://github.com/ProjetoSophiaDev/academi.git
	branch = main
[submodule "moodle/course/format/softcourse"]
	path = moodle/course/format/softcourse
	url = https://github.com/DigiDago/moodle-format_softcourse.git
	branch = MOODLE_404_STABLE
[submodule "moodle/course/format/tiles"]
	path = moodle/course/format/tiles
	url = https://bitbucket.org/dw8/moodle-format_tiles.git
	branch = moodle44
[submodule "moodle/course/format/etask"]
	path = moodle/course/format/etask
	url = https://gitlab.com/drlikm/format_etask.git
	branch = FORMAT_ETASK_24_STABLE
